* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Helvetica",Arial,Helvetica,Geneva,sans-serif;
}

p{
	
	font-size:12px;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	
	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
	
}

#homePage{
	
	background-color:#cccccc;
	height:100%;
	width:100%;
	position:absolute;
	overflow:hidden;
	
}

/*
 * Main Page
 */

.topNavi{
	
	background-image: url("../images/topNaviOrange.png");
	height: 50px;
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0px;
	z-index:10;
	
}

.topNavi .backButton{
	
	/*background-image: url("../images/backButton.png");
    height: 67px;
    margin: 15px 0 0 10px;
    position: absolute;
    width: 110px;
	cursor:pointer;*/
}

.topNavi .glugCase{

    left:50%;
    width:100%;
    position:absolute;
	
}

.topNavi .glugLogo{
	
	background-image: url("../images/glugLogo.jpg");
    height: 50px;
    left: -37.5px;
    position: absolute;
    width: 75px;
	
}

.middleContent{
	
	background-color: #eeeeee;
    height: 100%;
    position: absolute;
    width: 100%;
}

#pageCase{
	
    left:50%;
    width:100%;
    position:absolute;
	
}

#page1{
	
	font-family: helvetica;
	font-size:2em;
    margin-top: 250px;
    left:-45px;
    position:absolute;
	
}

#blogOption, #twitterOption, #videoOption, #buyOption{
	
	cursor:pointer;
	
}

.bottomNavi{
	
	height:60px;
	width:100%;
	bottom:0px;
	position: absolute;
}

.bottomNavi p{
	
	color: #999999;
    font-size: 100%;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
    width: 100%;
	
}


.bottomNavi #blogOption{
	
	background-color:#212121;
	height:60px;
	width:25%;
	
}

.bottomNavi #twitterOption{
	
	background-color:#2c2c2c;
	height:60px;
	width:25%;
	
}

.bottomNavi #videoOption{
	
	background-color:#393939;
	height:60px;
	width:25%;
	
}

.bottomNavi #buyOption{
	
	background-color:#454444;
	height:60px;
	width:25%;
	
}

.bottomNavi #blogOption:hover, .bottomNavi #twitterOption:hover, .bottomNavi #videoOption:hover, .bottomNavi #buyOption:hover{
	
	background-color:#ff6600;

}

.bottomNavi ul{
	
	list-style: none;
	
}

.bottomNavi li{

	float:left;
	
}
