* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Helvetica",Arial,Helvetica,Geneva,sans-serif;
    
}

a:link {text-decoration:none;}
a:visited {text-decoration:none;}

p{
	
	font-size:12px;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	
	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
	
}

#homePage{
	
	background-color:#cccccc;
	height:100%;
	width:100%;
	overflow:hidden;
	
}

/*
 * Main Page
 */

.topNavi{
	
	background-image: url("../images/topNaviOrange.png");
	height: 50px;
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0px;
	z-index:11;
	
}

.topNavi .backButton{
	
	background-image: url("../images/backButton.png");
	height: 47px;
	position: absolute;
	width: 70px;
	cursor: pointer;
	margin-left: 10px;
	
}

.topNavi .backButton p{
	
	color: #FFFFFF;
    font-family: helvetica;
    font-size: 14px;
    margin-top: 17px;
    text-align: center;
	
}

.topNavi .glugCase{

    left:50%;
    width:50%;
    position:absolute;
	
}

.topNavi .glugLogo{
	
	font-family: helvetica;
	background-image: url("../images/glugLogo.png");
    height: 50px;
    left: -37.5px;
    position: absolute;
    width: 75px;
	
}


.middleContent{
	
	background-color: #eeeeee;
    height: 100%;
    position: absolute;
    width: 100%;
    overflow:hidden;
}


section{
	
   display:block;
   margin-left: 50%;
	
}

#blog #scrollMe{
	
    height: 400px;
    margin: 0 0 0 -165px;
    overflow: auto;
    position: relative;
    top: 50px;
    width: 330px;
    
}

#scrollMe #topSectionB{
	
	height: 118px;
    width: 100%;
	
}

#scrollMe #topSectionB .glugBlogLogo{
	
	background-image: url("../images/glugBlogLogo.png");
    height: 94px;
    left: 32px;
    position: relative;
    top: 13px;
    width: 94px;
    float:left;
}

#scrollMe #topSectionB h1{
	
	color: #000000;
    float: left;
    font-size: 20px;
    height: 100px;
    left: 50px;
    margin: 0;
    padding: 0;
    position: relative;
    text-shadow: none;
    top: 34px;
    width: 153px;
	
}

#scrollMe #topSectionB h1 span{
	
    font-size: 12px;
    left: -2px;
    position: relative;
    top: -5px;

}

#scrollMe hr{
	
	border: 1px solid;
    color: #000000;
    margin-left: 11px;
    position: relative;
    width: 90%;
	
}

#scrollMe #middleSectionB{
	
	height: 186px;
    padding-left: 19px;
    position: relative;
    width: 100%;
	
}

#scrollMe #middleSectionB h1{
	
	color: #000000;
    font-size: 12px;
    margin: 10px 0 0;
    text-shadow: none;
	
}

#scrollMe #middleSectionB h1 span{
	
	color:#ff6600;
	
}

#scrollMe #middleSectionB h2{
	
	color: #000000;
    font-size: 24px;
    margin: -4px 0 0;
    text-shadow: none;
	
}

#scrollMe #middleSectionB h3{
	
	color: #000000;
    font-size: 34px;
    margin: 2px 0 0;
    text-shadow: none;
	
}

#scrollMe #middleSectionB #h31{

    margin: -14px 0 0;
	
}

#scrollMe #middleSectionB h4{
	
	color: #000000;
    font-size: 12px;
    margin: 9px 0 0;
    text-shadow: none;
    width: 144px;
	
}

#scrollMe #middleSectionB h5{
	
	color: #000000;
    font-size: 9px;
    margin: 4px 0 0;
    text-shadow: none;
    width: 100%;
	
}


#scrollMe #bottomSectionB{
	
	background-color: #FF6600;
    height: 55px;
    margin: 10px 0 0 12px;
    width: 296px;
	
}

#scrollMe #bottomSectionB h1{
	
	color: #FFFFFF;
    font-size: 25px;
    font-weight: normal;
    left: 99px;
    margin: 0;
    position: relative;
    top: 13px;
    width: 100px;

}

#blankSpace{
	
	height:100px;
	
}

#blog{
	
	background-color:#ffffff;
	
}

#page1{

	background-color:#cccccc;
	
}

#page2{
	
	background-color:#dddddd;
	
}

#page3{
	
	background-color:#eeeeee;
	
}

#page4{
	
	background-color:#ffffff;
	
}

#blog{
	
	width:100%;
	position:absolute;
	background-image:none;
	
}

#page1, #page2, #page3, #page4{
	
	width:100%;
	height:100%;
	position:absolute;
	background-image:none;
	/*font-family: helvetica;
	font-size:2em;
    left:-45px;
    position:absolute;*/
	
}

#blog p, #page1 p, #page2 p, #page3 p, #page4 p{
	
	font-family: helvetica;
	font-size:2em;
	margin-left: -35px;
    left:50%;
    top:30%;
    position:absolute;
	
}

#blogOption, #twitterOption, #videoOption, #buyOption{
	
	cursor:pointer;
	
}

.bottomNavi{
	
	height:60px;
	width:100%;
	bottom:0px;
	position: absolute;
	z-index:11;
	overflow:hidden;
}

.bottomNavi p{
	
	color: #999999;
    font-size: 100%;
    font-weight: bold;
    text-align: center;
    position:relative;
    top: 20%;
    height:60px;
    width:100%;
	overflow:hidden;
}


.bottomNavi #tab0{
	
	background-color:#212121;
	height:60px;
	width:25%;
	
}

.bottomNavi #tab1{
	
	background-color:#2c2c2c;
	height:60px;
	width:25%;
	
}

.bottomNavi #tab2{
	
	background-color:#393939;
	height:60px;
	width:25%;
	
}

.bottomNavi #tab3{
	
	background-color:#454444;
	height:60px;
	width:25%;
	
}

/*.bottomNavi #blogOption:hover, .bottomNavi #twitterOption:hover, .bottomNavi #videoOption:hover, .bottomNavi #buyOption:hover{
	
	background-color:#ff6600;

}*/

.bottomNavi ul{
	
	list-style: none;
	margin:0px!important;
	padding:0px!important;
	border:none!important;
	
}

.bottomNavi li{

	float:left;
	border:none!important;
	margin:0px!important;
	padding:0px!important;
}

#jqt{

	background-image:none!important;
	border:none!important;
	overflow-x: hidden !important;
	
}
